* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#page-1 {
    width: 100%;
    height: 100vh;
    background-color: rgb(50,50,50);
    position: relative;
    overflow: hidden;
}

.span-color {
    color: rgb(255, 188, 167);
}

#logo h1 {
    font-family: 'Inspiration', cursive;
    font-size: 3.5em;
    color: rgb(255, 188, 167);
    letter-spacing: 5px;
}

img#menu-logo {
    width: 30px;
    display: none;
}

img#menu {
    width: 22px;
    display: none;
}

nav {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    height: 7%;
}

nav ul {
    display: flex;
    justify-content: space-between;
    width: 35%;
    list-style-type: none;
}

nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(170, 170, 170);
}

#section-contact {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

#box {
    width: 870px;
    height: 520px;
    box-shadow: -10px -10px 50px rgb(70, 70, 70), 15px 15px 20px rgb(30, 30, 30);
    border-radius: 15px;
    position: relative;
}

#card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    position: relative;
}

#front {
    background: url(/assets/img/back.png);
    background-size: 80vmax;
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    border-radius: 15px;
    transition: 1s all;
}

#card:hover #front {
    animation: fronty 1.5s ease-in-out forwards;
}

@keyframes fronty {
    0% {}
    50% {
        top: -150px;
    }

    100% {
        top: 0;
    }
}

#back {
    background: url(/assets/img/front.png);
    background-size: 70vmax;
    background-position: center;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
}

#card:hover #back {
    animation: backy 1.7s ease-in-out forwards;
}

@keyframes backy {
    0%{}
    50% {
        transform: translateY(470px);
    }

    100% {
        transform: translateY(0);
        z-index: 6;
    }
}