* {
    padding: 0;
    margin: 0;
}

#page-1 {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, rgb(50, 50, 50), rgb(30, 30, 30));
    position: relative;
    overflow: hidden;
}

.span-color {
    color: #c9ffe2;
}

#logo h1 {
    font-family: 'Inspiration', cursive;
    font-size: 3.5em;
    color: rgb(255, 188, 167);
    letter-spacing: 5px;
}

img#menu-logo {
    width: 30px;
    display: none;
}

img#menu {
    width: 22px;
    display: none;
}

nav {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    height: 7%;
}

img#close {
    width: 27px;
    display: none;
    cursor: pointer;
}

nav ul {
    display: flex;
    justify-content: space-between;
    width: 35%;
    list-style-type: none;
}

nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #e6c0ff;
}

#section-project {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: gap 1s ease-in-out 1s forwards;
}

@keyframes gap {
    from {
        gap: 0px;
    }

    to {
        gap: 50px;
    }
}

#box {
    width: 370px;
    height: 420px;
    background-color: rgb(50, 50, 50);
    border-radius: 15px;
    transition: 0.3s ease-in-out;
    font-family: 'poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#text-box {
    display: flex;
    width: 85%;
    height: 50%;
    flex-direction: column;
    margin-top: 30px;
}

#text-box h3 {
    text-transform: uppercase;
    letter-spacing: 2px;
}

p#info {
    margin-bottom: 20px;
}

#logo-box {
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    margin-top: 10px;
    margin-right: 100px;
}

#logo-box img {
    width: 150px;
}

#logo-box img#primary {
    opacity: 0;
    animation: opp 1s ease-in-out 1s forwards;
}

@keyframes opp {
    from{}
    to {
        opacity: 1;
    }
}

#box:hover {
    transform: translateY(-15px);
}

#box.FFC971 {
    animation: ffc971 1s ease-in-out 2s forwards;
    color: rgb(60, 60, 60);
}

@keyframes ffc971 {
    from{}
    to {
        background-color: #ffd99c;
        box-shadow: 20px 20px 50px #ffd99cc0, -10px -10px 50px #ffd99c80;
        color: #9b835c;
    }
}

#box.c9ffe2 {
    animation: c9ffe2 1s ease-in-out 2.6s forwards;
    color: rgb(60, 60, 60);
}

@keyframes c9ffe2 {
    from {}
    to {
        background-color: #c9ffe2;
        box-shadow: 20px 20px 50px #c9ffe2a0, -10px -10px 50px #c9ffe27c;
        color: #80a591;
    }
}

#box.BA94D1{
    animation: ba94d1 1s ease-in-out 3.1s forwards;
    color: rgb(60, 60, 60);
}

@keyframes ba94d1 {
    from {}
    to {
        background-color: #cda7e5;
        box-shadow: 20px 20px 50px #cda7e590, -10px -10px 50px #cda7e575;
        color: #836993;
    }
}

@media (max-width: 576px){
    #page-1 {
        overflow: scroll;
    }

    #section-project {
        flex-direction: column;
        height: max-content;
        margin-top: 80px;
        animation: gap 1s ease-in-out 1s forwards paused ;
    }

    #box {
        width: 350px;
        height: 390px;
    }

    nav#two {
        padding: 0;
        width: 90%;
    }
}