@media (max-width: 576px) {

    /* ----- P A G E - P E R S O N ----- */

    #logo h1 {
        font-size: 2em;
    }

    nav ul {
        position: fixed;
        width: 100%;
        height: 85px;
        bottom: -200px;
        left: 0;
        background-color: rgb(60, 60, 60);
        display: flex;
        align-items: center;
        z-index: 10;
        font-size: 0.9em;
        justify-content: space-evenly;
        transition: 0.5s all;
        border-radius: 15px;
    }

    nav ul.move {
        bottom: 0;
    }

    nav {
        width: 100%;
        padding: 0 20px;
    }

    #p {
        display: none;
    }

    img#menu-logo {
        display: flex;
    }

    img#menu {
        display: flex;
        z-index: 10;
    }

    section {
        width: 90%;
        font-size: 0.7em;
        height: 75%;
    }

    #text-person button {
        width: 100px;
        height: 35px;
        font-size: 0.8em;
        margin-top: 20px;
    }

    img#img-dimas-2 {
        display: block;
        position: absolute;
        width: 280px;
        bottom: 50px;
        right: 0;
    }

    #img-person {
        position: absolute;
    }

    #text-person {
        width: 100%;
    }

    /* ----- P A G E - S K I L L ----- */

    #page-skill {
        justify-content: flex-start;
        overflow: scroll;
    }

    #wrapper-skill {
        display: flex;
        width: max-content;
    }

    #box {
        scale: 0.9;
    }

    /* ----- P A G E - E X P E R I E N C E ----- */

    #page-experience {
        flex-direction: column;
        height: 100%;
    }

    #box-experience {
        scale: 0.8;
    }

    #box-more {
        scale: 0.8;
    }

    #wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
    }
}

@media (max-width: 425px) {

    /* ----- P A G E - P E R S O N ----- */

    section {
        font-size: 0.65em;
        height: 50%;
    }

    #text-person p{
        line-height: 20px;
    }

    #text-person button {
        width: 100px;
        height: 35px;
        font-size: 0.8em;
        margin-top: 20px;
    }

    img#img-dimas-2 {
        display: block;
        position: absolute;
        width: 280px;
        bottom: 50px;
        right: 0;
    }

    /* ----- P A G E - S K I L L ----- */

    #page-skill {
        justify-content: left;
    }

    #wrapper-skill {
        width: max-content;
        margin: 0;
    }

    #box{
        scale: 0.75;
    }

    #wrapper {
        scale: 0.8;
    }
}

@media (max-width: 375px) {
    /* ----- P A G E - S K I L L ----- */

    #box {
        width: 370px;
        height: 390px;
        font-size: 0.8em;
    }
}

@media (max-width: 320px){

    /* ----- P A G E - P E R S O N ----- */

    #logo h1 {
        display: none;
    }

    img#menu-logo {
        width: 28px;
    }

    section {
        font-size: 0.55em;
    }
    
    /* ----- P A G E - S K I L L ----- */

    #box {
        width: 320px;
        height: 340px;
        font-size: 0.75em;
    }

    #box-experience {
        scale: 0.65;
    }

    /* ----- P A G E - E X P E R I E N C E ----- */

    #wrapper {
        scale: 0.7;
    }

    #page-experience {
        width: 100%;
    }
}